{% extends 'base.html.twig' %}

{% block stylesheets %}
<!-- Toggle's CSS -->
<link rel="stylesheet" href="css/toggle.css">
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block body %}

<!-- Head of the Home Page -->

<section class="top-section d-flex justify-content-center align-items-center">

    <div class="container">

        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">

                <div class="d-flex justify-content-center flex-wrap">

                    <h1 class="text-center my-2">Des projets tech pour pratiquer</h1>

                    <h2 class="text-center my-2">Rentrez en collaboration avec d'autres étudiants pour pouvoir développer vos compétences tech et élargir votre réseau.</h6>

                    <a class="btn bg-red mt-3 mb-1 col-9 col-md-6 col-lg-3" href="{{ path('app_add_project') }}">Déposer un projet</a>

                    <p class="price col-12 text-center text-muted">Et bien sûr, tout est gratuit.</p>

                </div>

            </div>

        </div>

    </div>

</section>

<!-- Section about the highlighted project -->

<section class="tech-section">

    <div class="container">

        <div class="row">

            <h3 class="title-section text-center my-2">Le Projet à la Une</h3>

            <div class="mx-auto d-flex flex-wrap my-2 justify-content-center">

                <article class="projects p-3 col-12 col-xl-9 m-2 m-md-3 d-flex flex-wrap align-items-center text-center">

                    <!-- Project Image -->
                    <div class="col-12 col-md-5 mb-3 m-md-0 d-flex align-items-center justify-content-center">
                        <img class="project-image col-6 col-md-10" src="{{ latestProject.image }}" alt="">
                    </div>

                    <!-- Project Details -->
                    <div class="col-12 col-md-5 m-auto">
                        <h4 class="fw-bold">{{ latestProject.name }}</h5>
                        <p>{{ latestProject.summary }}</p>
                        <h5 class="fw-bold">Stack Technique</h5>
                        <p>
                        {% for techno in latestProject.technologies %}
                            {{ techno.name }} 
                        {% endfor %}
                        </p>
                        <h5 class="fw-bold">Avancée du projet</h5>
                        <p>{{ latestProject.status }}</p>
                        <h5 class="fw-bold">Cursus scolaire</h5>
                        <p>{{ latestProject.getStudyLevel() }}</p>
                        <a class="btn bg-green" href="{{ path('app_project_display', {id : latestProject.id }) }}">Découvrir</a>
                    </div>

                </article>
            
            </div>

        </div>

    </div>
    
</section>

<!-- Section about the Edudev's profit -->

<section class="tech-section">

    <div class="container">

        <div class="row">

            <h3 class="title-section text-center mt-2 mb-4">Une Utilisation Simple et Optimisée</h3>

            <!-- Toggle to know what informations need to be at screen -->

            <div class="container my-2">

                <div class="switches-container">

                    <input type="radio" id="switchProjectOwner" name="switchUser" value="ProjectOwner" checked="checked" />
                    <input type="radio" id="switchProjectParticipant" name="switchUser" value="ProjectParticipant" />

                    <label for="switchProjectOwner" id="switchProjectOwnerLabel">Je propose</label>
                    <label for="switchProjectParticipant" id="switchProjectParticipantLabel">Je cherche</label>

                    <div class="switch-wrapper">

                        <div class="switch">
                            <div>Je propose</div>
                            <div>Je cherche</div>
                        </div>

                    </div>

                </div>

            </div>

            <!-- Informations for owner's projects (Display bu default)-->

            <div class="owner-features">

                <div class="mx-auto d-flex flex-wrap my-2 justify-content-center">

                    <article class="edudev-features p-4 col-12 col-sm-5 m-2 m-md-3 d-flex justify-content-center">
                        <div>
                            <h5 class="fw-bold">Exposez votre projet</h5>
                            <p class="m-0">Décrivez en détail votre projet : que ce soit ses objectifs, son statut actuel, l'équipe mise en place (ou souhaitée) ou encore les technologies utilisées, toutes les informations utiles vous seront demandées à cette étape.</p>
                        </div>
                    </article>

                    <article class="edudev-features p-4 col-12 col-sm-5 m-2 m-md-3 d-flex justify-content-center">
                        <div>
                            <h5 class="fw-bold">Énoncez vos besoins</h5>
                            <p class="m-0">Vous recherchez un développeur React ? Un développeur Flutter ? Un expert Docker ? Ou encore un webdesigner ? Définissez les besoins de votre projet pour plus de clarté et pour le rendre plus attractif aux yeux des autres étudiants.</p>
                        </div>
                    </article>

                    <article class="edudev-features p-4 col-12 col-sm-5 m-2 m-md-3 d-flex justify-content-center">
                        <div>
                            <h5 class="fw-bold">Collaborez entre étudiants</h5>
                            <p class="m-0">Les étudiants intéressés par votre projet auront alors accès à toutes ces informations et pourront vous contacter pour potentiellement démarrer une nouvelle collaboration et faire avancer vos idées.</p>
                        </div>
                    </article>

                    <article class="edudev-features p-4 col-12 col-sm-5 m-2 m-md-3 d-flex justify-content-center">
                        <div>
                            <h5 class="fw-bold">Atteignez vos objectifs</h5>
                            <p class="m-0">On a tous connu ces projets qui ne verront jamais le jour, par manque de temps ou de compétences. Entourez-vous pour pouvoir les terminer, remplir votre portfolio et faire monter en flèches vos compétences.</p>
                        </div>
                    </article>

                </div>

            </div>

            <!-- Informations for participant projects (Display if the user click on the toggle) -->

            <div class="participant-features d-none">

                <div class="mx-auto d-flex flex-wrap my-2 justify-content-center">

                    <article class="edudev-student p-4 col-12 col-sm-5 m-2 m-md-3 d-flex justify-content-center">
                        <div>
                            <h5 class="fw-bold">Renseignez votre profil</h5>
                            <p class="m-0">Décrivez en détail vos compétences et les technologies sur lesquelles vous souhaitez travailler. Que ce soit sur des langages de programmation ou des outils spécifiques, pratiquez et soyez plus attirants sur le marché du travail.</p>
                        </div>
                    </article>

                    <article class="edudev-student p-4 col-12 col-sm-5 m-2 m-md-3 d-flex justify-content-center">
                        <div>
                            <h5 class="fw-bold">Découvrez des projets</h5>
                            <p class="m-0">Retrouvez une liste de projets ou d'idées liées à la technologie sur lesquels vous pourrez travailler en collaboration avec d'autres étudiants. Participez à des programmes innovants et remplissez votre portfolio pour gagner en crédibilité.</p>
                        </div>
                    </article>

                    <article class="edudev-student p-4 col-12 col-sm-5 m-2 m-md-3 d-flex justify-content-center">
                        <div>
                            <h5 class="fw-bold">Augmentez vos compétences</h5>
                            <p class="m-0">Vous souhaitez améliorer vos skills en développement back ? En développement mobile ? Ou tout simplement vous initier à de nouveaux outils ? Trouvez le projet qui correspond à vos objectifs et commencez dès maintenant cette nouvelle aventure.</p>
                        </div>
                    </article>

                    <article class="edudev-student p-4 col-12 col-sm-5 m-2 m-md-3 d-flex justify-content-center">
                        <div>
                            <h5 class="fw-bold">Élargissez votre réseau</h5>
                            <p class="m-0">Emmagasinez de l'expérience professionnelle tout en travaillant avec de nouvelles personnes, apprenez de leurs expériences respectives, partagez les vôtres et construisez ensemble de réelles relations professionnelles et durables.</p>
                        </div>
                    </article>

                </div>
            
            </div>

        </div>

    </div>
    
</section>

<!-- Section famous technologies on Edudev -->

<section class="tech-section">

    <div class="container">

        <div class="row">

            <h3 class="title-section text-center mt-2 mb-4">Des Technologies Populaires</h3>

            <div class="mx-auto d-flex flex-wrap my-2 justify-content-center">

                <article class="col-12 col-sm-4 col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/python.png" alt="">
                </article>

                <article class="col-12 col-sm-4 col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/javascript.png" alt="">
                </article>

                <article class="col-12 col-sm-4 col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/swift.png" alt="">
                </article>

                <article class="col-12 col-sm-4 col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/react.png" alt="">
                </article>

                <article class="col-12 col-sm-4 col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/java.png" alt="">
                </article>

                <article class="col-12 col-sm-4 col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/symfony.png" alt="">
                </article>

                <article class="col-sm-4 col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-sm-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/gcp.png" alt="">
                </article>

                <article class="col-sm-4 col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-sm-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/azure.png" alt="">
                </article>

                <article class="col-sm-4 col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-sm-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/github.png" alt="">
                </article>

                <article class="col-sm-4 col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-sm-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/flutter.png" alt="">
                </article>

                <article class="col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-md-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/csharp.png" alt="">
                </article>

                <article class="col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-md-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/figma.png" alt="">
                </article>
                    
                <article class="col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-md-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/gitlab.png" alt="">
                </article>

                <article class="col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-md-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/angular.png" alt="">
                </article>

                <article class="col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-md-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/docker.png" alt="">
                </article>

                <article class="col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-lg-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/nodejs.png" alt="">
                </article>

                <article class="col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-lg-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/laravel.png" alt="">
                </article>

                <article class="col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-lg-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/rubyonrails.png" alt="">
                </article>
            
            </div>

        </div>

    </div>
    
</section>

<section class="tech-section">

    <div class="container">

        <div class="row text-center">

            <h3 class="title-section mt-2 mb-4">Soutenez-nous</h3>

            <p>Supportez Edudev sur Patreon et aidez-nous à rendre ce projet encore meilleur.</p>

            <p>Votre soutien veut dire beaucoup pour nous.</p>

            <div class="col-12 d-flex justify-content-center align-items-center">
                <a class="col-9 col-md-6 col-lg-4 col-xl-3 btn bg-green" href="">Supporter Edudev sur Patreon</a>
            </div>

        </div>

    </div>

</section>

{% endblock %}

{% block script %}
<!-- Script for the Toggle -->
<script src="js/toggle.js"></script>
{% endblock %}
