<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Edudev - Login</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
        {# Bootstrap link #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        
        {# My style.css Sheet's link #}
        <link rel="stylesheet" href="css/style.css">
        
        {# Google Font's Link #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
        
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>

<body>

<section>

    <div class="d-flex align-items-center">

        <div class="register-img col-xl-6 col-xxl-7 d-none d-xl-block">
            
        </div>

        <div class="d-flex register align-items-center col-12 col-xl-6 col-xxl-5">


            <div class="d-flex flex-wrap align-items-center justify-content-center col-11 register-block container">


                {{ form_start(registrationForm, {attr: {"id": "registration_form", "novalidate":"novalidate"}}) }}

                    <div class="my-3">
                        <a class="text-decoration-none" href="{{ path('app_home') }}">Accéder à l'acceuil Edudev</a>
                    </div>

                    <div class="errors rounded"></div>

                    <h1 class="h3 mb-3 fw-bold">Inscription</h1>

                    {{ form_row(registrationForm.email, {
                        label: 'Adresse mail'
                    }) }}

                    {{ form_row(registrationForm.plainPassword) }}
                    <ul class="col-12 my-3">
                        <li class="m-0 col-12" id="registration-password-length">8 caractères minimum</li>
                        <li class="m-0 col-12" id="registration-password-special-characters">1 caractère spécial minimum</li>
                        <li class="m-0 col-12" id="registration-password-number">1 chiffre minimum</li>
                        <li class="m-0 col-12" id="registration-password-uppercase">1 majuscule minimum</li>
                        <li class="m-0 col-12" id="registration-password-lowercase">1 minuscule minimum</li>
                    </ul>

                    <div>
                    {{ form_row(registrationForm.agreeTerms) }}
                    </div>

                    <button class="btn btn-success" type="submit" class="btn">M'inscrire</button>
                    <a href="{{ path("app_login") }}" class="btn btn-secondary my-2 mx-md-3">J'ai déjà un compte</a>
                {{ form_end(registrationForm) }}

            </div>
        
        </div>

    </div>

</section>

{% block script %}
    <script src="../js/validation/inscriptionValidation.js"></script>
{% endblock %}

</body>

</html>
