<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Edudev - {% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
        {# Bootstrap link #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

        {# My style.css Sheet's link #}
        <link rel="stylesheet" href="{{ asset("css/style.css") }}">
        
        {# Google Font's Link #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
        
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>

    <nav class="navbar navbar-expand-lg bg-light">

        <div class="container-fluid">

            <a class="text-reset text-decoration-none nav-title" href="{{ path('app_home') }}">Edudev</a>

             <div class="d-lg-none ms-auto me-4">

                <a href="#top" class="navbar-icon bi-person smoothscroll"></a>

            </div>

            {% if (app.user) %}
                <a class="btn bg-red me-2 d-inline d-lg-none" href="{{ path('app_logout') }}">Déconnexion</a>
            {% else %}
                <a class="btn bg-green me-2 d-inline d-lg-none" href="{{ path('app_login') }}">Connexion</a>
            {% endif %}

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav ms-lg-2 me-lg-auto">

                    <li class="nav-item">

                        <a class="nav-link click-scroll" href="{{ path('app_add_project') }}">Déposer un projet</a>

                    </li>


                    <li class="nav-item">

                        <a class="nav-link click-scroll" href="{{ path('app_project_list') }}">Trouver un projet</a>

                    </li>


                    <li class="nav-item">

                        <a class="nav-link click-scroll" href="{{ path('app_home_about_us') }}">À propos de nous</a>

                    </li>


                    {% if (app.user) %}
                    <li class="nav-item d-md-none">

                        <a class="nav-link click-scroll" href="{{ path('app_current_user_profile') }}">Mon Profil</a>

                    </li>
                    {% endif %}

                </ul>

                <div class="d-none d-lg-block">

                    <a href="#top" class="navbar-icon bi-person smoothscroll"></a>

                </div>

                {# Display for medium and + screen #}
                {% if (app.user) %}
                    <a class="btn bg-red mx-2 d-none d-lg-inline" href="{{ path('app_logout') }}">Déconnexion</a>
                    <a class="btn btn-light mx-2 d-none d-lg-inline" href="{{ path('app_current_user_profile') }}">Mon profil</a>
                {% else %}
                    <a class="btn bg-green mx-2 d-none d-lg-inline" href="{{ path('app_login') }}">Connexion</a>
                    <a class="btn btn-light mx-2 d-none d-lg-inline" href="{{ path('app_register') }}">S'inscrire gratuitement</a>
                {% endif %}

            </div>

        </div>

    </nav>

    <body>
        {% block body %}{% endblock %}
    </body>

    <footer class="bg-light">

        <div class="container">

            <div class="d-none d-lg-flex flex-wrap justify-content-center col-12 text-center text-muted p-4">
                <a class="footer-link text-decoration-none" href="{{ path('app_add_project') }}"><p class="my-0 mx-2">Déposer un projet</p></a>
                <a class="footer-link text-decoration-none" href="{{ path('app_project_list') }}"><p class="my-0 mx-2">Trouver un projet</p></a>
                <a class="footer-link text-decoration-none" href="{{ path('app_home') }}"><p class="col-1 fw-bold my-0 mx-2">Edudev</p></a>
                <a class="footer-link text-decoration-none" href="{{ path('app_home_about_us') }}"><p class="my-0 mx-2">À propos de nous</p></a>
                <a class="footer-link text-decoration-none" href="{{ path('app_home_use_policy') }}"><p class="my-0 mx-2">Conditions d'utilisation</p></a>
            </div>

            <div class="d-flex flex-wrap d-lg-none justify-content-center col-12 text-center text-muted p-4">
                <a class="footer-link text-decoration-none" href="{{ path('app_home') }}"><p class="col-12 fw-bold my-2 mx-0">Edudev</p></a>
                <a class="col-12 footer-link text-decoration-none col-12" href="{{ path('app_add_project') }}"><p class="my-2 mx-0">Déposer un projet</p></a>
                <a class="col-12 footer-link text-decoration-none" href="{{ path('app_project_list') }}"><p class="col-12 my-2 mx-0">Trouver un projet</p></a>
                <a class="col-12 footer-link text-decoration-none" href="{{ path('app_home_about_us') }}"><p class="col-12 my-2 mx-0">À propos de nous</p></a>
                <a class="col-12 footer-link text-decoration-none" href="{{ path('app_home_use_policy') }}"><p class="col-12 my-2 mx-0">Conditions d'utilisation</p></a>
            </div>

        </div>

    </footer>

    {% block script %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    
</html>