{% extends 'base.html.twig' %}

{% block title %}Modifier mon projet{% endblock %}

{% block body %}
<!-- Form Section -->
<section>
    <div class="container">
        <div class="row">
            <h1 class="text-center my-5">Modifier mon projet</h1>

            <div class="my-3">
                <div class="errors rounded"></div>

                {{ form_start(form, {attr:{'novalidate': 'novalidate', 'id': "edit_project_form"}}) }}

                <div class="d-flex flex-wrap" id="edit-project-form">

                    <div class="col-12 col-xl-5 p-xl-3 pe-xl-5">

                        <div class="project-name">
                        {{ form_row(form.name) }}
                        </div>

                        <div id='project-edit-summary-input'>
                        {{ form_row(form.summary) }}
                        </div>
                        <div class=" d-flex col-12">
                            <p class="m-0 col-6 fst-italic text-secondary">100 caractères <span class="text-decoration-underline">max</span></p>
                            <p class="m-0 col-6 text-end"><span id="project-edit-summary-counter">0</span> / 100 caractères</p>
                        </div>

                        <div id='project-edit-description-input'>
                        {{ form_row(form.description) }}
                        </div>
                        <div class=" d-flex col-12">
                            <p class="m-0 col-6 fst-italic text-secondary">200 caractères <span class="text-decoration-underline">min</span></p>
                            <p class="m-0 col-6 text-end"><span id="project-edit-description-counter">0</span> / 200 caractères</p>
                        </div>

                    </div>

                    <div id="project-right-section" class="col-12 col-xl-7 p-xl-3 ps-xl-4 rounded">
                    
                        <div>
                        {{ form_row(form.technologies) }}
                        </div>

                        <div>
                        {{ form_row(form.image) }}
                        </div>

                        <div>
                        {{ form_row(form.duration) }}
                        </div>

                        <div>
                        {{ form_row(form.status) }}
                        </div>

                        <div>
                        {{ form_row(form.study_level) }}
                        </div>

                        <div id="edit-project-need-input">
                        {{ form_row(form.need_description) }}
                        </div>
                        <div class=" d-flex col-12">
                            <p class="m-0 col-6 fst-italic text-secondary">100 caractères <span class="text-decoration-underline">min</span></p>
                            <p class="m-0 col-6 text-end"><span id="project-edit-need-counter">0</span> / 100 caractères</p>
                        </div>

                        <div>
                        {{ form_row(form.time_necessary_week) }}
                        </div>

                    </div>

                    <div class="col-12 d-flex justify-content-center justify-content-xl-end">
                        {{ form_row(form.modifier) }}
                    </div>

                </div>
                
            </div>
            
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
    <script src="{{ asset("js/validation/editProjectValidation.js") }}"></script>
{% endblock %}